{% extends 'partial/base.html' %}
{% block content %}
    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col md-5">

            </div>
            <div class="col md-8 my-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col md-4">
                                <img src="" alt="image">
                            </div>
                            <div class="col md-8">
                                <div class="small">20th may 2022</div><hr>
                                <a href="">
                                    view post
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col md-8">
                <div class="card shadow my-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col md-4">
                                <img src="" alt="image">
                            </div>
                            <div class="col md-8">
                                <div class="small">20th may 2022</div><hr>
                                <a href="">
                                    view post
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="col md-8">
                <div class="card shadow my-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col md-4">
                                <img src="" alt="image">
                            </div>
                            <div class="col md-8">
                                <div class="small">20th may 2022</div><hr>
                                <a href="">
                                    view post
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col md-8">
                <div class="card shadow my-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col md-4">
                                <img src="" alt="image">
                            </div>
                            <div class="col md-8">
                                <div class="small">20th may 2022</div><hr>
                                <a href="">
                                    view post
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}