<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creation table</title>
</head>
<body>
    <form action="update" method="post" class="form-group">
        <label for="">UserName:</label>
        <input type="text" value="users.username">
        <label for="">Email</label>
        <input type="email" value="{{users.email}}">

        <button type="submit"><a href="{% url 'index' %}">update</a></button>
    </form>
</body>
</html>