{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome to the main site</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content">
        <h2 class="display-4">welcome to this page</h2>
        <table>
            <tr>
                <th>Names</th>
                <th>email</th>
                <th>passwords</th>
            </tr>
            {% for user in info %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>