{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h3>login</h3>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <input type="text" name="name" placeholder="enter your name" required="True">
                </div>
                <div class="col-6">
                    <input type="password" name="password" placeholder="enter your password" required="True">
                </div>
            </div>
            <button type="submit" class="btn-button">Login</button>
        </form>
    </div>
</body>
</html>