{% extends 'accounts/main.html' %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-body">
                <H5>Products</H5>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}